<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite">
    <listeners>
        <listener class-name="Reporting.ExtentListeners"/>
    </listeners>

    <test name="ProductApiTest">
        <classes>
            <class name="Testcases.ProductApiTest"/>
        </classes>
    </test>

    <test name="CouponApiTest">
        <classes>
            <class name="Testcases.CouponApiTest"/>
        </classes>
    </test>
</suite>